@import "./utils/styles/_breakPoint.scss";
@import "./utils/styles/_color.scss";

$mainTitle: 24px;
$paragraph: 15px;

@mixin body-padding {
  @include desktop-up {
    padding-left: 150px;
    padding-right: 150px;
  }
  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.loading-fullscreen > div {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 200px;
}
.loading > div {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
}
